<div class="form">
	<%= form_for @shout do |form| %>
		<p>
			<%= form.text_field :body %>
		</p>
		<p>
			<%= submit_tag "Shout!" %>
		</p>
	<% end %>
</div>

<ul>
	<% @shouts.each do |shout| %>
		<li>
			<%= highlight(auto_link(h(shout.body)), 'blogthings') %>
			<span class="time">
				<%= time_ago_in_words shout.created_at %> ago
			</span>
		</li>
	<% end %>
</ul>