<!DOCTYPE html>
<html>
<head>
  <title>Shouter</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

	<% if signed_in? %>
		<%= link_to "Sign out", sign_out_path, :method => :delete %>
	<% end %>

	<%flash.each do |key, value| %>
		<div class="flash_<%= key %>">
			<%= value %>
		</div>
	<% end %>
	
	<%= yield %>

</body>
</html>
